/* Noticia Separador Informacion */

.noticia_informacion-separador{
	padding-top:50px;
}

.noticia_informacion-separador figure{
	text-align:center;
}

.noticia_informacion-separador h2{
	text-align:center;
	font-size:2.4rem;
	color:#7E7E7E;
	font-family:'titulo';
	padding-bottom:15px;
}

.noticia_informacion-separador h2 span{
	color:#CD3D3D;
}

.noticia_informacion-separado-btn{
	padding-bottom:65px;
}

.bg-informacion-separador{
	background:#E5E5E5;
}

.btn-write{
	background:#E5E5E5;
	border:1.5px solid #7E7E7E;
	border-radius:0px;
	color:#7E7E7E;
	font-size:1.8rem;
	font-family:'titulo';
}

.btn-write:hover{
	color:white;
	background:#D13B40;
	border:1.5px solid #D13B40;
}
